use flake

export MLFLOW_TRACKING_URI="https://dagshub.com/allllpina/test.mlflow"
export MLFLOW_TRACKING_USERNAME="allllpina"
export MLFLOW_TRACKING_PASSWORD="7d02a87dfbe9763b94aee8acefe59f75859c838e"