.direnv
.venv
.envrc
.dvc
.dvcignore
dvc.yaml
data.dvc
todo.txt
PROJECT_CONTEXT.md

__pycache__/
*.py[cod]
*$py.class
.python-version


data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

